<%= form_for @comment, :action => resource(@comic, @comment)  do %>
<fieldset>
  <legend>Edit Your Comment</legend>
<p>
  <%= text_area :body, :label => "Comment" %>
</p>
<p>
  <%= submit "Update", :class => "button" %>
</p>
</fieldset>
<% end =%>