<%= form_for @comic, :action => resource(@comic) do %>
<fieldset>
  <legend>Edit Comic Profile</legend>
<p>
  <%= text_field :title, :label => "Title" %>
</p>
<p>
  <%= text_area :description, :label => "Description" %>
</p>
<p>
  <%= submit "Update", :class => "button" %>
</p>
</fieldset>
<% end =%>