<%= form_for @comic, :action => resource(:comics) do %>
<fieldset>
  <legend>Comic Profile</legend>
<p>
  <%= text_field :title, :label => "Title" %>
</p>
<p>
  <%= text_area :description, :label => "Description" %>
</p>
<p>
  <%= submit "Create", :class => "button" %>
</p>
</fieldset>
<% end =%>